.jumbotron {
background-image: url(../images/concert\ heart.jpg);
background-repeat: no-repeat;
background-position: 100% 47%;
background-size: 100% auto;
padding-top: 50px;
color: white;
}

